{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1>Confirm your booking!</h1>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2 p-5">
                <img src="https://www.iconexperience.com/_img/g_collection_png/standard/512x512/hotel.png"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-10 p-3">
                <div class="card-body">
                    <h5 class="card-title">{{object.name}}</h5>
                    <p class="card-text">{{object.description}}</p>
                    <p>{{ object.street }} {{ object.building }} {{ object.apartment }}, {{ object.city }}</p>
                    <p>Can host {{ object.capacity }} people</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-5 mb-3">
        <p class="m-0" >Booking period: from <span class="font-weight-bold">{{ date_from }}</span> to <span class="font-weight-bold">{{ date_to }}</span>.</p>
    </div>
    <a href="confirm" class="btn btn-block btn-info">Confirm booking</a>
</div>

{% endblock content %}