{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="pb-2">Find your new favourite place
        {% if request.GET.city %}
        in {{request.GET.city}}
        {% endif %}
    </h1>
    <div class="card mb-3 p-3 text-white bg-info">
        <form method="get" name="search">
            <div class="form-row">
                <div class="col-5">
                    <input type="text" name="city" class="form-control" placeholder="City" value="{{request.GET.city}}" required>
                </div>
                <div class="col">
                    <input type="number" name="people" class="form-control" placeholder="People"
                        value="{{request.GET.people}}" required>
                </div>
                <div class="col">
                    <input type="date" name="date_from" class="form-control datepicker" placeholder="Date from"
                        value="{{request.GET.date_from}}" required>
                </div>
                <div class="col">
                    <input type="date" name="date_to" class="form-control datepicker" placeholder="Date to"
                        value="{{request.GET.date_to}}" required>
                </div>
                {% csrf_token %}
                <div class="col">
                    <input type="submit" name="submit" class="btn btn-danger btn-block" value="Search">
                </div>
            </div>
        </form>
    </div>
    {% if request.GET.submit %}
    <p>Found {{ object_list | length }} properties to book</p>
    {% for object in object_list %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2 p-5">
                <img src="https://www.iconexperience.com/_img/g_collection_png/standard/512x512/hotel.png"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-8 p-3">
                <div class="card-body">
                    <h5 class="card-title">{{object.name}}</h5>
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
            <div class="col-md-2 p-3">
                <button class="btn btn-info btn-block">Book</button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<script>
    function getDate() {
        let today = new Date();
        let dd = String(today.getDate()).padStart(2, '0');
        let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        let yyyy = today.getFullYear();

        return yyyy + '-' + mm + '-' +dd;
    }
    document.forms["search"]["date_from"].setAttribute('min', getDate());

    document.forms["search"]["date_from"].addEventListener("change", function() {
        document.forms["search"]["date_to"].setAttribute(
            'min',
            document.forms["search"]["date_from"].value
        );
    });
</script>
{% endblock content %}