{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="pb-2">Find your new favourite place 
        {% if request.GET.city %}
        in {{request.GET.city}}
        {% endif %}
    </h1>
    <div class="card mb-3 p-3 text-white bg-info">
        <form method="get">
            <div class="form-row">
                <div class="col-7">
                    <input type="text" name="city" class="form-control" placeholder="City" value="{{request.GET.city}}">
                </div>
                <div class="col">
                    <input type="number" name="people" class="form-control" placeholder="People" value="{{request.GET.people}}">
                </div>
                <div class="col">
                    <input type="text" name="date_from" class="form-control datepicker" placeholder="Date from" value="{{request.GET.date_from}}">
                </div>
                <div class="col">
                    <input type="text" name="date_to" class="form-control datepicker" placeholder="Date to" value="{{request.GET.date_to}}">
                </div>
                {% csrf_token %}
                <div class="col">
                    <input type="submit" class="btn btn-danger btn-block" value="Search">
                </div>
            </div>
        </form>
    </div>
    {% for object in object_list %}
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2 p-5">
                <img src="https://www.iconexperience.com/_img/g_collection_png/standard/512x512/hotel.png"
                    class="card-img" alt="...">
            </div>
            <div class="col-md-10 p-3">
                <div class="card-body">
                    <h5 class="card-title">{{object.name}}</h5>
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}